<!-- Navigation -->
<nav
  class="navbar navbar-expand-sm navbar-light bg-light"
  style="position: fixed; top: 0px; width: 100%"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      style="border: none"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-link" href="/">About</a>
        <a class="nav-link" href="/experience">Experience</a>
        {{! <a class='nav-link' href='/contact'>Contact</a> }}
      </div>
    </div>
  </div>
</nav>