<!-- About me section  -->
<div class='container wrapper'>
  {{! Content }}
  <div class='row p-5'>
    <div class='col mx-auto'>
      {{! Profile Image }}
      <div class='row text-center mb-5'>
        <div class='col'>
          <img
            class='border border-dark rounded-circle'
            style='height: 175px; width: 175px'
            src='/images/1629913786251.jpg'
            alt=''
          />
        </div>
      </div>
      {{! Name Title }}
      <div class='row text-center mb-5' id='name'><div
          class='section-title'
        >Guillaume Des Rosiers</div></div>
      {{! Profile Description }}
      <div class='row' id='description'>
        {{description}}
        <p>
          Hi, I am Guillaume.<br /><br />
          I am a junior electrical engineer and a self-taught web developer.
          During the past 3 years, I worked as an Automated Systems Integrator
          in the food industry and as a Technical Services Manager in the
          biggest spa in North America. During this time, I learned to design
          and commission large scale automated industrial systems, manage
          multiple projects simultaneously and lead teams towards a common goal.<br
          /><br />
          I am currently reorienting my career towards software development.<br
          /><br />
          I am an efficient and precise communicator, a team player with strong
          interpersonal skills and passionate about learning and sharing
          knowledge.<br /><br />
          I am a reader, a gamer and love the outdoors.
        </p>
      </div>
    </div>

  </div>

  {{! <div class='row'>
    <div class='row'>
      <div class='col-lg-auto pb-3 text-center'>
        <img
          class='border border-dark rounded-circle'
          style='height: 175px; width: 175px'
          src='/images/1629913786251.jpg'
          alt=''
        />
      </div>
    </div>
    <div class='row d-flex justify-content-center'>

      <div class='col-lg-8 px-5'>
        <p>
          Hi, I am Guillaume.<br /><br />
          I have a bachelor in electrical engineering and am a self-taught web
          developer. During the past 3 years, I worked as an Automated Systems
          Integrator in the food industry and as a Technical Services Manager in
          the biggest spa in North America. During this time, I learned to
          design and commission large scale engineering projects, magage
          multiple projects simultaneously and lead teams towards a common goal.<br
          /><br />
          I am currently reorienting my career towards software development.<br
          /><br />
          I am an efficient and precise communicator, a team player with strong
          interpersonal skills and passionate about learning and sharing
          knowledge.<br /><br />
          I am a reader, a gamer and love the outdoors.
        </p>
      </div>
    </div>
  </div> }}

</div>