<!-- Experience & Skills section -->

<div class='container wrapper'>
  {{! Experience Content }}
  <div class='col mx-auto p-5'>
    <div class='row mb-5 text-center'><div class='section-title'>Work Experience</div></div>
    {{! Experience #1 }}
    <div class='row mt-3'>
      {{! Experience Title and Date }}
      <div class='row border-bottom border-dark mb-3'>
        <div class='col-lg-8 text-lg-start text-center pb-2 experience-title'>
          Full-time self-taught studies in Web Development
        </div>
        <div class='col-lg-4 text-lg-end text-center experience-title'>
          September 2021 - Today
        </div>
      </div>
      {{! Responsibilities List }}
      <div class='row'>
        <div class='col'>
          <ul class='pt-lg-0 pt-3 text-lg-start text-center'>
            <li>
              <a
                class='ffc-link'
                href='https://www.freecodecamp.org/certification/ademine/responsive-web-design'
                target='_blank'
              >Responsive Web Design
                <img src='/images/fcc_secondary_small.svg' alt='' /></a>
            </li>
            <li>
              <a
                class='ffc-link'
                href='https://www.freecodecamp.org/certification/ademine/javascript-algorithms-and-data-structures'
                target='_blank'
              >JavaScript Algorithms and Data Structures
                <img src='/images/fcc_secondary_small.svg' alt='' /></a>
            </li>
            <li>
              <a
                class='ffc-link'
                href='https://www.freecodecamp.org/certification/ademine/front-end-development-libraries'
                target='_blank'
              >Front End Development Libraries
                <img src='/images/fcc_secondary_small.svg' alt='' /></a>
            </li>
            <li>
              <a
                class='ffc-link'
                href='https://www.freecodecamp.org/certification/ademine/back-end-development-and-apis'
                target='_blank'
              >Back End Development and APIs
                <img src='/images/fcc_secondary_small.svg' alt='' /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{! Experience #2 }}
    <div class='row mt-3'>
      {{! Experience Title and Date }}
      <div class='row border-bottom border-dark mb-3'>
        <div class='col-lg-8 text-lg-start text-center pb-2 experience-title'>
          Technical Services Manager
        </div>
        <div class='col-lg-4 text-lg-end text-center experience-title'>
          April 2021 - August 2021
        </div>
      </div>
      {{! Responsibilities List }}
      <div class='row'>
        <div class='col'>
          <ul class='pt-lg-0 pt-3 text-lg-start text-center'>
            <li>Planned preventive maintenance of installations</li>
            <li>Led and managed a team of 8 technicians</li>
            <li>Managed external contractors for major works</li>
            <li>
              Planned and implemented maintenance and optimization projects
            </li>
            <li>
              Developed a culture focused on operational technologies
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{! Experience #2 }}
    <div class='row mt-3'>
      {{! Experience Title and Date }}
      <div class='row border-bottom border-dark mb-3'>
        <div class='col-lg-8 text-lg-start text-center pb-2 experience-title'>
          Technical Services Manager
        </div>
        <div class='col-lg-4 text-lg-end text-center experience-title'>
          June 2019 - March 2021
        </div>
      </div>
      {{! Responsibilities List }}
      <div class='row'>
        <div class='col'>
          <ul class='pt-lg-0 pt-3 text-lg-start text-center'>
            <li>
              Produced technical drawing and I/O definitions for large scale
              industrial projects
            </li>
            <li>Redacted functional descriptions of complex systems</li>
            <li>Programmed automated sequences of complex systems</li>
            <li>Supervised construction and dismantling of electrical
              infrastructure</li>
            <li>Commissioned and tested complex automated systems</li>
            <li>Developed and maintained relationships with customers</li>
          </ul>
        </div>
      </div>
    </div>
    {{! Technical Skills Section }}
    <div class='row my-5 text-center'>
      <div class='section-title'>Technical Skills</div>
    </div>
    <div class='row'>
      {{! Font-End Section }}
      <div class='col'>
        <div
          class='experience-title mb-3 border-bottom border-dark'
        >Frontend</div>
        <div class='ul'>
          <li>HTML</li>
          <li>CSS</li>
          <li>React</li>
          <li>Redux</li>
          <li>JQuery</li>
          <li>Bootstrap</li>
          <li>Bootstrap</li>
        </div>
      </div>
      {{! Back-End Section }}
      <div class='col'>
        <div
          class='experience-title mb-3 border-bottom border-dark'
        >Backend</div>
        <div class='ul'>
          <li>Node.js</li>
          <li>Express</li>
          <li>MongoDB</li>
          <li>Mongoose</li>
          <li>AWS</li>
          <li>GCP</li>
        </div>
      </div>
      {{! Programming Languages Section }}
      <div class='col'>
        <div
          class='experience-title mb-3 border-bottom border-dark'
        >Languages</div>
        <div class='ul'>
          <li>Javascript</li>
          <li>Python</li>
          <li>C++</li>
          <li>Matlab</li>
          <li>Ladder</li>
        </div>
      </div>
      {{! Programming Languages Section }}
      <div class='col'>
        <div class='experience-title mb-3 border-bottom border-dark'>Tools</div>
        <div class='ul'>
          <li>Visual Studio Code</li>
          <li>Github</li>
          <li>Firefox</li>
          <li>Office</li>
        </div>
      </div>
    </div>
  </div>

</div>