<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/index.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/bootstrap-icons.svg'
    />
    <!-- <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav
      class='navbar navbar-expand-sm navbar-light bg-light'
      style='position: fixed; top: 0px; width: 100%'
    >
      <div class='container-fluid'>
        <a class='navbar-brand' href='../views/index.html'>G.D.R</a>
        <button
          class='navbar-toggler'
          type='button'
          style='border: none'
          data-bs-toggle='collapse'
          data-bs-target='#navbarNavAltMarkup'
          aria-controls='navbarNavAltMarkup'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
          <div class='navbar-nav mx-auto'>
            <a class='nav-link' href='#about-me'>About</a>
            <a class='nav-link' href='#experience'>Experience</a>
            <a class='nav-link' onclick='' href='#contact'>Contact</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- About me section  -->
    <div
      class='container-fluid content-section border-dark px-5'
      style='margin-top: 50px'
      id='about-me'
    >
      <div class='row d-flex justify-content-center'>
        <div class='row mb-5'>
          <div class='col text-center section-title'>#about-me</div>
        </div>
        <div
          class='col-lg-auto d-flex justify-content-center align-items-center pb-3'
        >
          <img
            class='border border-dark rounded-circle'
            style='height: 175px; width: 175px'
            src='/images/1629913786251.jpg'
            alt=''
          />
        </div>
        <div class='col-lg-8 px-5'>
          <p>
            Hi, I am Guillaume.<br /><br />
            I have a bachelor in electrical engineering and am a self-taught web
            developer. During the past 3 years, I worked as an Automated Systems
            Integrator in the food industry and as a Technical Services Manager
            in the biggest spa in North America. During this time, I learned to
            design and commission large scale engineering projects, magage
            multiple projects simultaneously and lead teams towards a common
            goal.<br /><br />
            I am currently reorienting my career towards software development.<br
            /><br />
            I am an efficient and precise communicator, a team player with
            strong interpersonal skills and passionate about learning and
            sharing knowledge.<br /><br />
            I am a reader, a gamer and love the outdoors.
          </p>
        </div>
      </div>
    </div>

    <!-- Experience section -->
    <div
      class='container-fluid content-section border-top border-dark px-5'
      style='padding-bottom: 50px'
      id='experience'
    >
      <div class='row'>
        <div class='row mb-5'>
          <div class='col text-center section-title'>#experience</div>
        </div>
        <!-- Experience #1 -->
        <div class='row'>
          <div class='col-lg text-lg-start text-center pb-2 experience-title'>
            Full-time self-taught studies in Web Development
          </div>
          <div class='col-lg text-lg-end text-center experience-title'>
            September 2021 - Today
          </div>
        </div>
        <div class='row'>
          <div class='col px-5'>
            <ul class='pt-lg-0 pt-3 text-lg-start text-center'>
              <li>
                <a
                  class='ffc-link'
                  href='https://www.freecodecamp.org/certification/ademine/responsive-web-design'
                  target='_blank'
                >Responsive Web Design
                  <img src='/images/fcc_secondary_small.svg' alt='' /></a>
              </li>
              <li>
                <a
                  class='ffc-link'
                  href='https://www.freecodecamp.org/certification/ademine/javascript-algorithms-and-data-structures'
                  target='_blank'
                >JavaScript Algorithms and Data Structures
                  <img src='/images/fcc_secondary_small.svg' alt='' /></a>
              </li>
              <li>
                <a
                  class='ffc-link'
                  href='https://www.freecodecamp.org/certification/ademine/front-end-development-libraries'
                  target='_blank'
                >Front End Development Libraries
                  <img src='/images/fcc_secondary_small.svg' alt='' /></a>
              </li>
              <li>
                <a
                  class='ffc-link'
                  href='https://www.freecodecamp.org/certification/ademine/back-end-development-and-apis'
                  target='_blank'
                >Back End Development and APIs
                  <img src='/images/fcc_secondary_small.svg' alt='' /></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Experience #2 -->
        <div class='row'>
          <div class='col-lg text-lg-start text-center pb-2 experience-title'>
            Technical Services Manager
          </div>
          <div class='col-lg text-lg-end text-center experience-title'>
            April 2021 - August 2021
          </div>
        </div>
        <div class='row'>
          <div class='col px-5'>
            <ul class='pt-lg-0 pt-3 text-lg-start text-center'>
              <li>Planning preventive maintenance of installations.</li>
              <li>Leading a team of 8 technicians.</li>
              <li>Management of external contractors for major works.</li>
              <li>
                Planning and implementation of maintenance and optimization
                projects.
              </li>
              <li>
                Development of a culture focused on operational technologies.
              </li>
            </ul>
          </div>
        </div>
        <!-- Experience #2 -->
        <div class='row'>
          <div class='col-lg text-lg-start text-center pb-2 experience-title'>
            Technical Services Manager
          </div>
          <div class='col-lg text-lg-end text-center experience-title'>
            June 2019 - March 2021
          </div>
        </div>
        <div class='row'>
          <div class='col px-5'>
            <ul class='pt-lg-0 pt-3 text-lg-start text-center'>
              <li>
                Detail Engineering (Technical drawings and I/O definition).
              </li>
              <li>Functional description of complex automated systems.</li>
              <li>Ladder programming of automated systems.</li>
              <li>Supervision of electrical construction and dismantling.</li>
              <li>Commissioning and testing of complex automated systems.</li>
              <li>Maintaining relationships with customers.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact me section -->
    <div
      class='container-fluid content-section border-top border-dark px-5'
      id='contact'
    >
      <div class='row'>
        <!-- Section Title -->

        <div class='row'>
          <div class='row mb-5'>
            <div class='col text-center section-title'>#contact</div>
          </div>
        </div>
        <div class='row'>
          {{msg}}
        </div>
        <!-- Contact Form -->
        <form action='/send' method='post' id='contact-form' class='row'>
          <!-- Email and Subject -->
          <div class='col-md-6 mb-3'>
            <input
              type='email'
              class='form-control'
              name='email'
              placeholder='email'
            />
          </div>
          <div class='col-md-6 mb-3'>
            <input
              type='text'
              class='form-control'
              name='subject'
              placeholder='subject'
            />
          </div>
          <!-- Message -->
          <div class='col-12 mb-3'>
            <textarea
              class='form-control'
              name='message'
              rows='3'
              placeholder='message'
            ></textarea>
          </div>
          <div class='col-12 text-end'>
            <button type='submit' class='btn btn-dark'>send</button>
          </div>
          <div class='col-12 text-center'></div>
        </form>
        <div class='row'>
          <div class='col text-center'>
            <a
              href='https://www.linkedin.com/in/gdesrosiers
            '
              target='_blank'
            ><img src='/images/linkedin.svg' alt='linkedin icon' /></a>
            <a href='https://www.freecodecamp.org/ademine' target='_blank'><img
                src='/images/fcc_secondary_small.svg'
                alt='freecodecamp icon'
              /></a>
            <a href='https://github.com/mesieu' target='_blank'><img
                src='/images/github.svg'
                alt='github icon'
              /></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <!-- jquery -->
    <script
      src='https://code.jquery.com/jquery-3.6.0.min.js'
      integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
      crossorigin='anonymous'
    ></script>
    <!-- bootstrap -->
    <!-- JavaScript Bundle with Popper -->
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
      crossorigin='anonymous'
    ></script>

    <!-- scripts -->
    <script src='/js/script.js'></script>
  </body>
</html>